@import "fonts.css";

$color_yellow: #e9e358;

.default-btn {
  font-family: AvenirNext-Bold;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 0;
  background: linear-gradient(180deg, rgba(255, 227, 0, 1) 0%, rgba(222, 131, 17, 1) 100%);
  box-shadow: none !important;

  &:hover {
    color: white;
    border: 1px solid;
  }
}

.transparent-text {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}


body {
  background: #25398e;
}

header {
  background: #090d21;
  border-bottom: 1px solid #818491;

  p {
    font-size: 14px;
    text-transform: uppercase;
    font-family: Roboto-Bold;
    color: $color_yellow;
    letter-spacing: 0.9px;

    i {
      font-size: 18px;
    }
  }
}

section.banner {
  padding: 100px 0;
  background-image: url("../images/bg-baner.png");
  background-position: -80px 0;
  background-size: 110%;
  background-repeat: no-repeat;

  h1, h2 {
    font-family: AvenirNext-Bold;
    color: $color_yellow;
    text-transform: uppercase;
  }

  h1 {
    font-size: 70px;
    line-height: 35px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    color: #fff;
    font-family: AvenirNext-Bold;
    line-height: 47px;
    font-size: 52px;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.7);

    span {
      font-size: 39px;
    }
  }

  p {
    color: $color_yellow;
    font-family: AvenirNextLTPro-Demi;
    font-size: 28px;
    letter-spacing: 6px;
    text-transform: uppercase;
  }

  ul {
    li {
      text-transform: capitalize;
      text-align: start;
      color: #fff;
      font-family: AvenirNextLTPro-Demi;
      font-size: 22px;
      letter-spacing: 2px;
      line-height: 2.5;

      &:before {
        content: "\f101";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        margin-right: 25px;
      }
    }
  }

  img.product {
    max-width: 200px;
    height: 400px;
  }

  img.icons {
    max-width: 250px;
  }

  a.btn-banner {
    font-size: 26px;
  }

}

section.description {
  background: linear-gradient(180deg, rgba(12, 17, 43, 1) 0%, rgba(37, 57, 142, 1) 100%);

  .wrapper-description {
    background-image: url("../images/bg-section2.png");
    background-position: 100% center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 64px;
    border-radius: 50px 50px 0 0;

    h2 {
      font-family: AvenirNext-Bold;
      color: #fff;
      font-size: 62px;
      line-height: 55px;

      span {
        font-size: 55px;
      }
    }

    ul {
      li {
        font-family: AvenirNextLTPro-Regular;
        color: #fff;
        font-size: 16px;
        margin-bottom: 30px;

        p {
          font-family: AvenirNextLTPro-Bold;
          font-size: 18px;
        }
      }
    }

    img.img-description {
      position: absolute;
      right: 100px;
      bottom: 0;
      max-width: 524px;
      max-height: 625px;
    }
  }
}

section.product_use {
  background-image: url(../images/bg-section.png);
  background-position: 100% center;
  background-size: cover;
  background-repeat: no-repeat;

  h2 {
    line-height: 1;
    font-family: AvenirNext-Bold;
    color: #fff;
    font-size: 62px;

    span {
      font-size: 48px;
    }
  }

  h4, h3, p {
    color: white;
  }

  h4 {
    font-family: Roboto-Regular;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
  }

  h3 {
    font-family: Roboto-Bold;
    font-size: 21px;
    overflow: hidden;
    height: 45px;
  }

  p {
    font-family: AvenirNextLTPro-Regular;
    font-size: 14px;
    height: 190px;
    overflow: hidden;
  }

  img.person {
    width: 270px;
    height: 360px;

  }

  img.arrow {
    position: absolute;
    top: 120px;
    left: -30px;
  }

}

section.about_ingredient {
  background: #fff;
  border-radius: 0 0 50px 50px;

  h2 {
    color: #1c2a6b;
    font-family: AvenirNext-Bold;
    font-size: 62px;
    line-height: 0.9;

    span.transparent-text {
      font-size: 47px;
      -webkit-text-stroke-color: #1c2a6b;
    }
  }

  h5 {
    color: #1c2a6b;
    font-family: AvenirNextLTPro-Bold;
    font-size: 18px;
    border-bottom: 1px solid;
    display: inline-block;
    text-transform: uppercase;
  }

  p {
    color: #1c2a6b;
    font-family: AvenirNextLTPro-Regular;
    font-size: 16px;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 30px;
    }
  }
}

section.testimonials {
  h2 {
    font-family: AvenirNext-Bold;
    font-size: 62px;
    color: $color_yellow;
    line-height: 0.9;

    span {
      font-size: 42px;
    }
  }

  .testimonials-block :first-child {
    .card-top {
      border-top-left-radius: 35px;
    }

    .card-bottom {
      border-bottom-left-radius: 35px;
    }
  }

  .testimonials-block :last-of-type {
    .card-top {
      border-top-right-radius: 35px;
    }

    .card-bottom {
      border-bottom-right-radius: 35px;
    }
  }

  .card-top {
    background: linear-gradient(120deg, rgba(213, 144, 61, 1) 0%, rgba(238, 208, 119, 1) 100%);

    p {
      font-family: SofiaProLight;
      height: 195px;
      overflow: hidden;
      font-size: 14px;

      i {
        color: white;
      }
    }
  }

  .card-bottom {
    background: #fff;

    h6, p {
      margin-bottom: 0;
    }

    i {
      color: #fcd85a;
    }
  }

  img.user-photo {
    position: absolute;
    bottom: 110px;
  }

  img.img-label {
    width: 100px;
    height: 100px;
  }

  p.text-label {
    font-family: AvenirNextLTPro-Bold;
    color: white;
  }
}

section.product-buy {

}
