@import url(fonts.css);
.default-btn {
  font-family: AvenirNext-Bold;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 0;
  background: linear-gradient(180deg, #ffe300 0%, #de8311 100%);
  box-shadow: none !important; }
  .default-btn:hover {
    color: white;
    border: 1px solid; }

.product-card-btn {
  font-family: AvenirNext-Bold;
  font-size: 21px;
  color: white;
  display: block;
  text-transform: uppercase;
  border: 1px solid;
  background: linear-gradient(90deg, #186fd1 0%, #574c8d 100%);
  letter-spacing: 5px;
  border-radius: 30px;
  box-shadow: none !important; }
  .product-card-btn:hover {
    color: white; }

.transparent-text {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff; }

.btn-prise-active {
  background: white;
  background: linear-gradient(0deg, #ffffff 0%, #d5d4d5 100%) !important; }

body {
  background: #25398e; }

header {
  background: #090d21;
  border-bottom: 1px solid #818491; }
  header p {
    font-size: 14px;
    text-transform: uppercase;
    font-family: Roboto-Bold;
    color: #e9e358;
    letter-spacing: 0.9px; }
    header p i {
      font-size: 18px; }

section.banner {
  padding: 100px 0;
  background-image: url("../images/bg-baner.png");
  background-position: -80px 0;
  background-size: 110%;
  background-repeat: no-repeat; }
  section.banner h1, section.banner h2 {
    font-family: AvenirNext-Bold;
    color: #e9e358;
    text-transform: uppercase; }
  section.banner h1 {
    font-size: 70px;
    line-height: 35px; }
  section.banner h2 {
    font-size: 42px; }
  section.banner h3 {
    color: #fff;
    font-family: AvenirNext-Bold;
    line-height: 47px;
    font-size: 52px;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.7); }
    section.banner h3 span {
      font-size: 39px; }
  section.banner p {
    color: #e9e358;
    font-family: AvenirNextLTPro-Demi;
    font-size: 28px;
    letter-spacing: 6px;
    text-transform: uppercase; }
  section.banner ul li {
    text-transform: capitalize;
    text-align: start;
    color: #fff;
    font-family: AvenirNextLTPro-Demi;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 2.5; }
    section.banner ul li:before {
      content: "\f101";
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      margin-right: 25px; }
  section.banner img.product {
    max-width: 200px;
    height: 400px; }
  section.banner img.icons {
    max-width: 250px; }
  section.banner a.btn-banner {
    font-size: 26px; }

section.description {
  background: linear-gradient(180deg, #0c112b 0%, #25398e 100%); }
  section.description .wrapper-description {
    background-image: url("../images/bg-section2.png");
    background-position: 100% center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 64px;
    border-radius: 50px 50px 0 0; }
    section.description .wrapper-description h2 {
      font-family: AvenirNext-Bold;
      color: #fff;
      font-size: 62px;
      line-height: 55px; }
      section.description .wrapper-description h2 span {
        font-size: 55px; }
    section.description .wrapper-description ul li {
      font-family: AvenirNextLTPro-Regular;
      color: #fff;
      font-size: 16px;
      margin-bottom: 30px; }
      section.description .wrapper-description ul li p {
        font-family: AvenirNextLTPro-Bold;
        font-size: 18px; }
    section.description .wrapper-description img.img-description {
      position: absolute;
      right: 100px;
      bottom: 0;
      max-width: 524px;
      max-height: 625px; }

section.product_use {
  background-image: url(../images/bg-section.png);
  background-position: 100% center;
  background-size: cover;
  background-repeat: no-repeat; }
  section.product_use h2 {
    line-height: 1;
    font-family: AvenirNext-Bold;
    color: #fff;
    font-size: 62px; }
    section.product_use h2 span {
      font-size: 48px; }
  section.product_use h4, section.product_use h3, section.product_use p {
    color: white; }
  section.product_use h4 {
    font-family: Roboto-Regular;
    font-size: 20px;
    height: 20px;
    overflow: hidden; }
  section.product_use h3 {
    font-family: Roboto-Bold;
    font-size: 21px;
    overflow: hidden;
    height: 45px; }
  section.product_use p {
    font-family: AvenirNextLTPro-Regular;
    font-size: 14px;
    height: 190px;
    overflow: hidden; }
  section.product_use img.person {
    width: 270px;
    height: 360px; }
  section.product_use img.arrow {
    position: absolute;
    top: 120px;
    left: -30px; }

section.about_ingredient {
  background: #fff;
  border-radius: 0 0 50px 50px; }
  section.about_ingredient h2 {
    color: #1c2a6b;
    font-family: AvenirNext-Bold;
    font-size: 62px;
    line-height: 0.9; }
    section.about_ingredient h2 span.transparent-text {
      font-size: 47px;
      -webkit-text-stroke-color: #1c2a6b; }
  section.about_ingredient h5 {
    color: #1c2a6b;
    font-family: AvenirNextLTPro-Bold;
    font-size: 18px;
    border-bottom: 1px solid;
    display: inline-block;
    text-transform: uppercase; }
  section.about_ingredient p {
    color: #1c2a6b;
    font-family: AvenirNextLTPro-Regular;
    font-size: 16px; }
  section.about_ingredient ul {
    list-style: none; }
    section.about_ingredient ul li {
      margin-bottom: 30px; }

section.testimonials h2 {
  font-family: AvenirNext-Bold;
  font-size: 62px;
  color: #e9e358;
  line-height: 0.9; }
  section.testimonials h2 span {
    font-size: 42px; }
section.testimonials .testimonials-block :first-child .card-top {
  border-top-left-radius: 35px; }
section.testimonials .testimonials-block :first-child .card-bottom {
  border-bottom-left-radius: 35px; }
section.testimonials .testimonials-block :last-of-type .card-top {
  border-top-right-radius: 35px; }
section.testimonials .testimonials-block :last-of-type .card-bottom {
  border-bottom-right-radius: 35px; }
section.testimonials .card-top {
  background: linear-gradient(120deg, #d5903d 0%, #eed077 100%); }
  section.testimonials .card-top p {
    font-family: SofiaProLight;
    height: 195px;
    overflow: hidden;
    font-size: 14px; }
    section.testimonials .card-top p i {
      color: white; }
section.testimonials .card-bottom {
  background: #fff; }
  section.testimonials .card-bottom h6, section.testimonials .card-bottom p {
    margin-bottom: 0; }
  section.testimonials .card-bottom i {
    color: #fcd85a; }
section.testimonials img.user-photo {
  position: absolute;
  bottom: 110px; }
section.testimonials img.img-label {
  width: 100px;
  height: 100px; }
section.testimonials p.text-label {
  font-family: AvenirNextLTPro-Bold;
  color: white; }

section.product-buy {
  padding-top: 70px;
  padding-bottom: 50px; }
  section.product-buy h2 {
    margin-bottom: 100px;
    font-family: AvenirNext-Bold;
    font-size: 62px;
    color: #e9e358;
    line-height: 0.7; }
    section.product-buy h2 span {
      font-size: 42px; }
  section.product-buy .card-product-wrapper {
    margin-bottom: 120px; }
  section.product-buy .card-product {
    padding: 0;
    background: #f6f6f6;
    border: 3px solid #fff;
    border-radius: 20px; }
    section.product-buy .card-product:after {
      content: "";
      border: 1px solid #fff;
      background: linear-gradient(90deg, #186fd1 0%, #574c8d 100%);
      position: absolute;
      bottom: -9px;
      width: 60%;
      right: 20%;
      height: 12px;
      border-radius: 10px; }
    section.product-buy .card-product .card-line {
      background: linear-gradient(90deg, #2a66be 0%, #574c8d 100%);
      border-radius: 20px 20px 0 0; }
    section.product-buy .card-product h3 {
      font-family: AvenirNext-Bold;
      font-size: 36px; }
    section.product-buy .card-product img.product-img {
      max-width: 100%;
      height: 300px; }
    section.product-buy .card-product p {
      font-family: AvenirNextLTPro-Demi;
      font-size: 16px; }
      section.product-buy .card-product p span {
        position: relative;
        font-size: 15px; }
        section.product-buy .card-product p span:after {
          content: "";
          border-bottom: 2px solid;
          display: inline-block;
          width: 60px;
          position: absolute;
          bottom: 7px;
          right: 0; }
    section.product-buy .card-product .btn-prise-group {
      border: 6px solid #d5d4d5;
      border-radius: 40px;
      width: 100%;
      overflow: hidden; }
      section.product-buy .card-product .btn-prise-group .btn-prise {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 50%;
        background: white;
        background: linear-gradient(180deg, #ffffff 0%, #d5d4d5 100%); }
        section.product-buy .card-product .btn-prise-group .btn-prise label {
          width: 100%; }
          section.product-buy .card-product .btn-prise-group .btn-prise label span {
            font-size: 13px;
            line-height: 17px;
            color: #484848; }
            section.product-buy .card-product .btn-prise-group .btn-prise label span span.prise {
              font-family: AvenirNextLTPro-Bold;
              font-size: 26px; }
        section.product-buy .card-product .btn-prise-group .btn-prise:first-child {
          border-right: 3px solid #d5d4d5; }
        section.product-buy .card-product .btn-prise-group .btn-prise:last-child {
          border-left: 3px solid #d5d4d5; }
          section.product-buy .card-product .btn-prise-group .btn-prise:last-child input {
            right: 0; }
  section.product-buy .product-box-1 {
    background: #f0f0f0;
    opacity: 0.7; }
    section.product-buy .product-box-1:hover {
      transition: 0.7s;
      opacity: 1;
      background: white;
      transform: matrix(1.1, 0, 0, 1.1, -60, 0); }
  section.product-buy .product-box-2 {
    transform: scale(1.18);
    z-index: 2; }
  section.product-buy .product-box-3 {
    background: #f0f0f0;
    opacity: 0.7; }
    section.product-buy .product-box-3:hover {
      transition: 0.7s;
      opacity: 1;
      background: white;
      transform: matrix(1.1, 0, 0, 1.1, 60, 0); }
  section.product-buy a.btn-product-buy {
    width: 35%;
    font-size: 24px; }
  section.product-buy img.icons-product {
    display: block;
    margin: 0 auto;
    max-width: 210px; }

footer {
  padding-top: 30px;
  padding-bottom: 80px;
  border-top: 1px solid white;
  background: linear-gradient(180deg, #25398e 0%, #0f193c 100%); }
  footer p {
    font-size: 14px;
    color: white;
    font-family: Roboto-Regular; }
