@import "fonts.css";

$color_yellow: #e9e358;

.default-btn {
  font-family: AvenirNext-Bold;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 0;
  background: linear-gradient(180deg, rgba(255, 227, 0, 1) 0%, rgba(222, 131, 17, 1) 100%);
  box-shadow: none !important;

  &:hover {
    color: white;
    border: 1px solid;
  }
}

.product-card-btn {
  font-family: AvenirNext-Bold;
  font-size: 21px;
  color: white;
  display: block;
  text-transform: uppercase;
  border: 1px solid;
  background: linear-gradient(90deg, rgba(24,111,209,1) 0%, rgba(87,76,141,1) 100%);
  letter-spacing: 5px;
  border-radius: 30px;
  box-shadow: none !important;

  &:hover {
    color: white;
  }
}

.transparent-text {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.btn-prise-active {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(213, 212, 213, 1) 100%) !important;
}


body {
  background: #25398e;
}

header {
  background: #090d21;
  border-bottom: 1px solid #818491;

  p {
    font-size: 14px;
    text-transform: uppercase;
    font-family: Roboto-Bold;
    color: $color_yellow;
    letter-spacing: 0.9px;

    i {
      font-size: 18px;
    }
  }
}

section.banner {
  padding: 100px 0;
  background-image: url("../images/bg-baner.png");
  background-position: -80px 0;
  background-size: 110%;
  background-repeat: no-repeat;

  h1, h2 {
    font-family: AvenirNext-Bold;
    color: $color_yellow;
    text-transform: uppercase;
  }

  h1 {
    font-size: 70px;
    line-height: 35px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    color: #fff;
    font-family: AvenirNext-Bold;
    line-height: 47px;
    font-size: 52px;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.7);

    span {
      font-size: 39px;
    }
  }

  p {
    color: $color_yellow;
    font-family: AvenirNextLTPro-Demi;
    font-size: 28px;
    letter-spacing: 6px;
    text-transform: uppercase;
  }

  ul {
    li {
      text-transform: capitalize;
      text-align: start;
      color: #fff;
      font-family: AvenirNextLTPro-Demi;
      font-size: 22px;
      letter-spacing: 2px;
      line-height: 2.5;

      &:before {
        content: "\f101";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        margin-right: 25px;
      }
    }
  }

  img.product {
    max-width: 200px;
    height: 400px;
  }

  img.icons {
    max-width: 250px;
  }

  a.btn-banner {
    font-size: 26px;
  }

}

section.description {
  background: linear-gradient(180deg, rgba(12, 17, 43, 1) 0%, rgba(37, 57, 142, 1) 100%);

  .wrapper-description {
    background-image: url("../images/bg-section2.png");
    background-position: 100% center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 64px;
    border-radius: 50px 50px 0 0;

    h2 {
      font-family: AvenirNext-Bold;
      color: #fff;
      font-size: 62px;
      line-height: 55px;

      span {
        font-size: 55px;
      }
    }

    ul {
      li {
        font-family: AvenirNextLTPro-Regular;
        color: #fff;
        font-size: 16px;
        margin-bottom: 30px;

        p {
          font-family: AvenirNextLTPro-Bold;
          font-size: 18px;
        }
      }
    }

    img.img-description {
      position: absolute;
      right: 100px;
      bottom: 0;
      max-width: 524px;
      max-height: 625px;
    }
  }
}

section.product_use {
  background-image: url(../images/bg-section.png);
  background-position: 100% center;
  background-size: cover;
  background-repeat: no-repeat;

  h2 {
    line-height: 1;
    font-family: AvenirNext-Bold;
    color: #fff;
    font-size: 62px;

    span {
      font-size: 48px;
    }
  }

  h4, h3, p {
    color: white;
  }

  h4 {
    font-family: Roboto-Regular;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
  }

  h3 {
    font-family: Roboto-Bold;
    font-size: 21px;
    overflow: hidden;
    height: 45px;
  }

  p {
    font-family: AvenirNextLTPro-Regular;
    font-size: 14px;
    height: 190px;
    overflow: hidden;
  }

  img.person {
    width: 270px;
    height: 360px;

  }

  img.arrow {
    position: absolute;
    top: 120px;
    left: -30px;
  }

}

section.about_ingredient {
  background: #fff;
  border-radius: 0 0 50px 50px;

  h2 {
    color: #1c2a6b;
    font-family: AvenirNext-Bold;
    font-size: 62px;
    line-height: 0.9;

    span.transparent-text {
      font-size: 47px;
      -webkit-text-stroke-color: #1c2a6b;
    }
  }

  h5 {
    color: #1c2a6b;
    font-family: AvenirNextLTPro-Bold;
    font-size: 18px;
    border-bottom: 1px solid;
    display: inline-block;
    text-transform: uppercase;
  }

  p {
    color: #1c2a6b;
    font-family: AvenirNextLTPro-Regular;
    font-size: 16px;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 30px;
    }
  }
}

section.testimonials {
  h2 {
    font-family: AvenirNext-Bold;
    font-size: 62px;
    color: $color_yellow;
    line-height: 0.9;

    span {
      font-size: 42px;
    }
  }

  .testimonials-block :first-child {
    .card-top {
      border-top-left-radius: 35px;
    }

    .card-bottom {
      border-bottom-left-radius: 35px;
    }
  }

  .testimonials-block :last-of-type {
    .card-top {
      border-top-right-radius: 35px;
    }

    .card-bottom {
      border-bottom-right-radius: 35px;
    }
  }

  .card-top {
    background: linear-gradient(120deg, rgba(213, 144, 61, 1) 0%, rgba(238, 208, 119, 1) 100%);

    p {
      font-family: SofiaProLight;
      height: 195px;
      overflow: hidden;
      font-size: 14px;

      i {
        color: white;
      }
    }
  }

  .card-bottom {
    background: #fff;

    h6, p {
      margin-bottom: 0;
    }

    i {
      color: #fcd85a;
    }
  }

  img.user-photo {
    position: absolute;
    bottom: 110px;
  }

  img.img-label {
    width: 100px;
    height: 100px;
  }

  p.text-label {
    font-family: AvenirNextLTPro-Bold;
    color: white;
  }

}

section.product-buy {
  padding-top: 70px;
  padding-bottom: 50px;

  h2 {
    margin-bottom: 100px;
    font-family: AvenirNext-Bold;
    font-size: 62px;
    color: #e9e358;
    line-height: 0.7;

    span {
      font-size: 42px;
    }
  }

  .card-product-wrapper {
    margin-bottom: 120px;
  }

  .card-product {
    padding: 0;
    background: #f6f6f6;
    border: 3px solid #fff;
    border-radius: 20px;

    &:after {
      content: "";
      border: 1px solid #fff;
      background: linear-gradient(90deg, rgba(24,111,209,1) 0%, rgba(87,76,141,1) 100%);
      position: absolute;
      bottom: -9px;
      width: 60%;
      right: 20%;
      height: 12px;
      border-radius: 10px;
    }

    .card-line {
      background: linear-gradient(90deg, rgba(42, 102, 190, 1) 0%, rgba(87, 76, 141, 1) 100%);
      border-radius: 20px 20px 0 0;
    }

    h3 {
      font-family: AvenirNext-Bold;
      font-size: 36px;
    }

    img.product-img {
      max-width: 100%;
      height: 300px;
    }

    p {
      font-family: AvenirNextLTPro-Demi;
      font-size: 16px;

      span {
        position: relative;
        font-size: 15px;

        &:after {
          content: "";
          border-bottom: 2px solid;
          display: inline-block;
          width: 60px;
          position: absolute;
          bottom: 7px;
          right: 0;
        }
      }
    }

    .btn-prise-group {
      border: 6px solid #d5d4d5;
      border-radius: 40px;
      width: 100%;
      overflow: hidden;

      .btn-prise {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 50%;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(213, 212, 213, 1) 100%);

        label {
          width: 100%;

          span {
            font-size: 13px;
            line-height: 17px;
            color: #484848;

            span.prise {
              font-family: AvenirNextLTPro-Bold;
              font-size: 26px;
            }
          }
        }

        &:first-child {
          border-right: 3px solid #d5d4d5;
        }

        &:last-child {
          border-left: 3px solid #d5d4d5;

          input {
            right: 0;
          }
        }
      }
    }
  }

  .product-box-1 {
    background: #f0f0f0;
    opacity: 0.7;

    &:hover {
      transition: 0.7s;
      opacity: 1;
      background: white;
      transform: matrix(1.1, 0, 0, 1.1, -60, 0);
    }
  }

  .product-box-2 {
    transform: scale(1.18);
    z-index: 2;
  }

  .product-box-3 {
    background: #f0f0f0;
    opacity: 0.7;

    &:hover {
      transition: 0.7s;
      opacity: 1;
      background: white;
      transform: matrix(1.1, 0, 0, 1.1, 60, 0);
    }
  }

  a.btn-product-buy {
    width: 35%;
    font-size: 24px;
  }

  img.icons-product {
      display: block;
      margin: 0 auto;
      max-width: 210px;
  }
}

footer {
  padding-top: 30px;
  padding-bottom: 80px;
  border-top: 1px solid white;
  background: linear-gradient(180deg, rgba(37,57,142,1) 0%, rgba(15,25,60,1) 100%);

  p {
    font-size: 14px;
    color: white;
    font-family: Roboto-Regular;
  }
}
