@import url(fonts.css);
.default-btn {
  font-family: AvenirNext-Bold;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 0;
  background: linear-gradient(180deg, #ffe300 0%, #de8311 100%);
  box-shadow: none !important; }
  .default-btn:hover {
    color: white;
    border: 1px solid; }

.transparent-text {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff; }

body {
  background: #25398e; }

header {
  background: #090d21;
  border-bottom: 1px solid #818491; }
  header p {
    font-size: 14px;
    text-transform: uppercase;
    font-family: Roboto-Bold;
    color: #e9e358;
    letter-spacing: 0.9px; }
    header p i {
      font-size: 18px; }

section.banner {
  padding: 100px 0;
  background-image: url("../images/bg-baner.png");
  background-position: -80px 0;
  background-size: 110%;
  background-repeat: no-repeat; }
  section.banner h1, section.banner h2 {
    font-family: AvenirNext-Bold;
    color: #e9e358;
    text-transform: uppercase; }
  section.banner h1 {
    font-size: 70px;
    line-height: 35px; }
  section.banner h2 {
    font-size: 42px; }
  section.banner h3 {
    color: #fff;
    font-family: AvenirNext-Bold;
    line-height: 47px;
    font-size: 52px;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.7); }
    section.banner h3 span {
      font-size: 39px; }
  section.banner p {
    color: #e9e358;
    font-family: AvenirNextLTPro-Demi;
    font-size: 28px;
    letter-spacing: 6px;
    text-transform: uppercase; }
  section.banner ul li {
    text-transform: capitalize;
    text-align: start;
    color: #fff;
    font-family: AvenirNextLTPro-Demi;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 2.5; }
    section.banner ul li:before {
      content: "\f101";
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      margin-right: 25px; }
  section.banner img.product {
    max-width: 200px;
    height: 400px; }
  section.banner img.icons {
    max-width: 250px; }
  section.banner a.btn-banner {
    font-size: 26px; }

section.description {
  background: linear-gradient(180deg, #0c112b 0%, #25398e 100%); }
  section.description .wrapper-description {
    background: #c64276;
    padding-top: 64px;
    border-radius: 50px 50px 0 0; }
    section.description .wrapper-description h2 {
      font-family: AvenirNext-Bold;
      color: #fff;
      font-size: 62px;
      line-height: 55px; }
      section.description .wrapper-description h2 span {
        font-size: 55px; }
    section.description .wrapper-description ul li {
      font-family: AvenirNextLTPro-Regular;
      color: #fff;
      font-size: 16px;
      margin-bottom: 30px; }
      section.description .wrapper-description ul li p {
        font-family: AvenirNextLTPro-Bold;
        font-size: 18px; }
    section.description .wrapper-description img.img-description {
      position: absolute;
      right: -56px;
      bottom: 0;
      max-width: 950px;
      max-height: 800px; }
